In [148]:
import pandas as pd

In [149]:
Music_Dataset = pd.read_csv("spotify_millsongdata.csv")

In [150]:
Music_Dataset

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [151]:
Music_Dataset.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [152]:
Music_Dataset.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [153]:
Music_Dataset.shape

(57650, 4)

In [154]:
Music_Dataset.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [155]:
Music_Dataset = Music_Dataset.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [156]:
Music_Dataset.head(10)

,artist,song,text
0,Starship,Stranger,Raindrops falling \r\nWinter feels so gloomy ...
1,Rush,Lakeside Park,Midway hawkers calling \r\nTry your luck with...
2,Arlo Guthrie,Presidential Rag,You said you didn't know \r\nThat the cats wi...
3,John Prine,Third Of July,It was the third of july on a cool cloudy sky ...
4,Wyclef Jean,Who Gave The Order,I'm Buju Banton with the preacher's son \r\n ...
5,Utopia,Love In Action,No place to hide \r\nAnd no where to run \r\...
6,ZZ Top,Certified Blues,I woke up this morning with these certified bl...
7,Hank Williams Jr.,"Been There, Done That","Been there,done that.Every spot on the map. \..."
8,Beach Boys,California,On my way to sunny California \r\n \r\nOn my...
9,Matt Redman,Trading My Sorrows (Yes Lord),I'm trading my sorrows \r\nI'm trading my sha...

In [157]:
Music_Dataset['text'][0]

"Raindrops falling  \r\nWinter feels so gloomy  \r\nHear the knock upon my door  \r\nStranger calling  \r\nEyes that look like mine  \r\nSaid you know I've called before  \r\n  \r\nWhat is veiled now soon will be shown  \r\nCome walk with me through the unknown  \r\n  \r\nFamiliar stranger  \r\nShould I know your name  \r\nDid we meet some time ago  \r\nI feel uncertain  \r\nShadows whisper to me now  \r\nSudden wind begins to blow  \r\n  \r\nWhat is veiled now soon will be shown  \r\nCome walk with me through the unknown  \r\n  \r\nDarkened doorways  \r\nStrangest things can happen  \r\nDon't know who you're talking to  \r\nFind yourself  \r\nWhen lightning strikes you now  \r\nYou could be looking back at you  \r\n  \r\nWhat is veiled now soon will be shown  \r\nCome walk with me through the unknown  \r\n  \r\nWhat is veiled now soon will be shown  \r\nCome walk with me through the unknown  \r\n  \r\nStranger  \r\n  \r\nFamiliar stranger  \r\nShould I know your name  \r\nDid we meet some time ago  \r\nAre you someone I should know  \r\nDid we meet sometime ago\r\n\r\n"

In [158]:
Music_Dataset = Music_Dataset.sample(5000)

In [159]:
Music_Dataset.shape

(5000, 3)

TEXT CLEANING / TEXT PREPROCESSING

In [160]:
Music_Dataset['text'] = Music_Dataset['text'].str.lower().replace(r'^\w\s','').replace(r'\n','',regex = True)

In [161]:
Music_Dataset

,artist,song,text
2359,Robbie Williams,The Actor,"principal actors to the stage please, \ract o..."
2871,Tori Amos,Cornflake Girl,never was a cornflake girl \rthought that was...
697,Cheap Trick,Wrong Side Of Love,she said that she's got something else on her ...
4848,Morrissey,Heir Apparent,i came back to my old city \rwith fierce dete...
4938,Scorpions,When You Came Into My Life,you give me your smile \ra piece of your hear...
...,...,...,...
3980,"Harry Connick, Jr.",Good Night My Love (Pleasant Dreams),"goodnight, my love \rpleasant dreams and slee..."
3225,Black Sabbath,Feels Good To Me,the chapter is opened and the pages are turned...
1636,Def Leppard,Good Morning Freedom,well good morning freedom \ri've been woken t...
2027,Reo Speedwagon,Hooked On A Feeling,"""i can't stop this feeling \rdeep inside of m..."
4875,Katy Perry,A Cup Of Cofee,i take these turns \ra bit too fast \rtrying...

In [162]:
Music_Dataset.tail(5)

,artist,song,text
3980,"Harry Connick, Jr.",Good Night My Love (Pleasant Dreams),"goodnight, my love \rpleasant dreams and slee..."
3225,Black Sabbath,Feels Good To Me,the chapter is opened and the pages are turned...
1636,Def Leppard,Good Morning Freedom,well good morning freedom \ri've been woken t...
2027,Reo Speedwagon,Hooked On A Feeling,"""i can't stop this feeling \rdeep inside of m..."
4875,Katy Perry,A Cup Of Cofee,i take these turns \ra bit too fast \rtrying...

In [163]:
import nltk
from nltk.stem.porter import PorterStemmer

In [164]:
stemmer = PorterStemmer()

In [178]:
def tokenization(txt):
    token = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in token]
    return " ".join(stemming)

In [167]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [168]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [169]:
tfid.fit_transform(Music_Dataset['text'])

<5000x23768 sparse matrix of type '<class 'numpy.float64'>'
	with 270101 stored elements in Compressed Sparse Row format>

In [170]:
matrix = tfid.fit_transform(Music_Dataset['text'])

In [171]:
similar = cosine_similarity(matrix)

In [172]:
similar[0]

array([1.        , 0.00767591, 0.01716364, ..., 0.02990648, 0.0356129 ,
       0.02085736])

In [180]:
Music_Dataset[Music_Dataset['song']=='Expecting Brainchild']

Empty DataFrame
Columns: [artist, song, text]
Index: []

RECOMMENDER FUNCTION

In [187]:
def recommender(song_name):
    id = Music_Dataset[Music_Dataset['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[id])),reverse=True,key=lambda x:x[1])
    song = []
    for s_id in distance[1:20]:
        song.append(Music_Dataset.iloc[s_id[0]].song)
    return song

In [188]:
recommender("Hooked On A Feeling")

['Brave New World',
 'Country Road',
 'Heart Of The Country',
 'Country House',
 'A Few Ole Country Boys',
 'Country Pie',
 'Bewitched',
 'High Country Snows',
 'Bewitched',
 'Brave',
 'Country State Of Mind',
 "I'm Going Back Home",
 'Call Me',
 'Heavy',
 'Born To Be Wild',
 'Born To Be Wild',
 'Little Girl',
 'Feels Like The First Time',
 'Shadows Of The Big Man']

In [189]:
import pickle

In [190]:
pickle.dump(similar, open('similarity','wb'))

In [191]:
pickle.dump(Music_Dataset,open("Music_Dataset","wb"))